/* footer {
    height: 100vh;
    width: 100%;
    position: relative;
} */

.pie {
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    text-decoration: none;
}

.social-icon > i {
    color: #f2f2f2;
    font-size: 1.2rem;
    transition: .2s;
}

.social-icon > i:hover {
    color: cornflowerblue;
}

.footer-menu-container {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover {
    opacity: 1;
}

.copyright {
    color:#f2f2f2;
    opacity: 0.3;
    text-align: center;
}