* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /*font-family: 'Oswald', sans-serif;*/
}
.inicio {
  height: 500px;
  background-image: url(public/img/inicio-img.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
