* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /*font-family: 'Oswald', sans-serif;*/
}
.inicio {
  height: 500px;
  background-image: url(public/img/inicio-img.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.wpp-fixed {
  position: fixed;
  right: 30px;
  bottom: 70px;
  height: 45px;
  width: 45px;
}

.wpp-fixed a {
  color: limegreen;
  /* font-size: .2rem; */
}

.wpp-fixed a img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .wpp-fixed {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  footer .group-one .box .social-midia .link-escondido {
    display: none;
  }
}